body{
    
}
#container{
    width: 500px;
    height: 250px;
    max-height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px 10px 10px 10px
}
.formConnexion{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.btn{
    width: 200px;
}
.formConnexion div label{
    width: 50rem;
}
.formConnexion div input{

    width: 200px;
}
.formConnexion h1{
    text-align: center;
}
.errorP{
    color: red;
}
.body-connexion{
    height: 100vh;

}